/* Corey Haro */
/* Lab 9: Libraries & jQuery */
/* 11/8/23 */

/* Original Colored Sections */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #28174e;
    background-color: #5a447d;
  }
  