/* Corey Haro */
/* Lab 13: loops */
/* 11/26/23 */
/* credit to Wes Modes and Piscella Dolang */

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(56, 36, 65, 0);
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

#output {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(56, 36, 65, 0);
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    column-count: 7;
}