/* Here we can set styles for this lab page that we don't want to effect others pages */
/* credit to Wes Modes and Priscella Dolang
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 65, 63);
    font-family: sans-serif;
  }


  #output {
    padding: 10px;
    margin: 10px;
    border: solid 1px rgb(54, 28, 71);
    background-color: rgb(221, 185, 233);
    border-radius: 15px;
    min-height: 100px;
  }
  
 .text:nth-child(odd) {
    text-align: left; 
 }

 .text:nth-child(even) {
  text-align: right; 
}

.text:nth-child(odd) p {
  color: black;
  background-color: rgb(240, 234, 255)
}
.text:nth-child(even) p {
  color: rgba(255, 255, 255, 0.692);
  background-color: rgb(83, 83, 152);
}



