/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section { 
  display: flex;
  justify-content: center;
}
body{
  width: 750px;
  margin: 0 auto;
  display: flex;
}