/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
  color: aquamarine;
  font-size: 200%;
}
p  { 
font-family: cursive;
text-indent: 20px;
margin-left: 10px;
}

#content{
  background-color: #8cac82;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  
}