
  

  h1 {
    color: rgb(40, 80, 52);
    font-size: 200%;
    text-align: center;
    font-family: cursive;
  }
  p  { 
  font-family: cursive;
  text-indent: 20px;
  margin-left: 10px;
  align-items: center;
  }
  
  #content {
    background-color: #8cac82;
    width: 700px;
    min-height: 700px;
    padding: 10px;
    margin: 10px;
    align-content: center;
  }

  #standing {
    display: grid;
    place-items: center;
  }
 
  .minor-section {
    padding: 10px;
  margin-bottom: 25px;
  border: solid 5px #548ea9;
  background-color: #4d3664;
  }